/* Estilos para melhorar a aparência da calculadora */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #61216a;
    margin: 0;
    padding: 50px;
}

.calculator {
    margin: 0 auto;
    width: 400px; /* Aumentei o tamanho do contêiner principal */
    padding: 30px; /* Aumentei o padding */
    border: 5px solid #200327;
    border-radius: 10px;
    background-color: #dfb5e3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #131212;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #7a3b65;
}

p {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

#result {
    font-size: 24px;
    color: #943185;
    font-weight: bold;
}
